---
import Layout from "../layouts/Layout.astro";
import ResearchAccordion from "../components/ResearchAccordion";
import JournalCard from "../components/JournalCard";

import genomeAssemblies from "../assets/journals/pnas_101_7.gif";
import cisReg from "../assets/journals/pnas_102_14.gif";
import immunePeptidomics from "../assets/journals/pnas_101_36.gif";
import humanGenome from "../assets/journals/science_291_5507.gif";
import seaUrchinGenome from "../assets/journals/science_314_5801.gif";
---

<Layout title="Istrail Lab">
    <h2 class="text-xl font-bold md:text-3xl text-center p-8">
        Welcome to the Istrail Laboratory
    </h2>

    <p class="text-sm md:text-lg pb-4">
        The Istrail Lab is a computational biology and computer science research
        group in the Department of Computer Science at Brown University. It is
        part of the Center for Computational Molecular Biology at Brown
        University. Sorin Istrail is the Julie Nguyen Brown Professor of
        Computational and Mathematical Sciences and Professor of Computer
        Science at Brown University.
    </p>

    <div class="w-full h-72 bg-red-500"></div>

    <div class="grid grid-cols-2 gap-4 md:grid-cols-5 py-8">
        <JournalCard img={humanGenome} title="The Human Genome" />
        <JournalCard img={genomeAssemblies} title="Genome Assemblies" />
        <div class="hidden md:block">
            <JournalCard img={immunePeptidomics} title="Immune Peptidomics" />
        </div>
        <JournalCard img={seaUrchinGenome} title="The Sea Urchin Genome" />
        <JournalCard img={cisReg} title="cis-Regulatory Code" />
    </div>

    <ResearchAccordion client:load />
</Layout>
